<header>
	<div class="container">
		<h1>Post-its</h1>
		<button class="button-primary postit-add" ng-click="openForm()"><i class="typcn typcn-plus"></i> Add Post-it</button>
	</div>
</header>

<div id="content">
	<div class="container">
		<div class="row" ng-show="showPostItForm">
			<form ng-submit="savePostIt()">
				<input type="text" placeholder="Text here..." ng-model="postItField.content">
				<input type="submit" class="button" value="Save" />
			</form>
		</div>

		<div class="row">

			<div class="three columns postit" ng-repeat="item in postIts | orderBy:'-createdAt' ">
				<p>{{ item.content }}</p>
				<button class="action delete" ng-click="deletePostIt(item, $index)"><i class="typcn typcn-trash"></i></button>
				<button class="action edit" ng-click="openForm(item)"><i class="typcn typcn-edit"></i></button>
			</div>

		</div>

	</div>
</div>
