<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="one-half column">
				<h1>Post-its</h1>
			</div>
			<div class="one-half column">
				<button class="button-primary postit-add" ng-click="openForm()"><i class="typcn typcn-plus"></i> Add Post-it</button>
			</div>
		</div>
	</div>
</header>
<!-- // Header -->

<!-- Search -->
<div id="search">
	<div class="container">
		<input type="text" ng-model="searchQuery" placeholder="Search">
	</div>
</div>
<!-- // Search -->

<div id="content">
	<div class="container">

		<!-- Form -->
		<form class="postit-form" ng-show="showPostItForm" ng-submit="savePostIt()">
			<textarea placeholder="Text here..." ng-model="postItField.content"></textarea>
			<div class="row">
				<div class="one-half column">
					<a class="button" ng-click="showPostItForm = false">Cancel</a>
				</div>
				<div class="one-half column">
					<input type="submit" class="button button-primary" value="Save" />
				</div>
			</div>

		</form>
		<!-- // Form -->

		<!-- Post-its -->
		<div class="row">
			<div class="three columns postit" ng-repeat="item in postIts | orderBy:'-createdAt' | filter: { content: searchQuery }">
				<p>{{ item.content }}</p>
				<button class="action" ng-click="deletePostIt(item, $index)"><i class="typcn typcn-trash"></i></button>
				<button class="action" ng-click="openForm(item)"><i class="typcn typcn-edit"></i></button>
			</div>
		</div>
		<!-- // Post-its -->

	</div>
</div>
